<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="button-collapse" data-activates="slide-out" materialize="sideNav">
        <i class="material-icons">menu</i>
      </a>
      <a class="brand-logo left">
        <span class="navbar-title">{{titulo.getTitle() | translate}}</span>
      </a>
      <ul class="right">
        <li [hidden]="!pesquisar" class="navbar-pesquisa">
          <input #pesquisarInput (input)="fazerPesquisa($event.target['value'])" placeholder="Pesquise aqui..."
                 type="text">
        </li>
        <li>
          <a (click)="abrirPesquisa()"><i class="material-icons">search</i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<main>
  <app-loading *ngIf="isLoading"></app-loading>
  <div (scrolled)="infiniteScroll()" [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" class="row"
       infiniteScroll>
    <div *ngFor="let arquivo of arquivos; let i = index" class="col s12">

      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s12 m4">
              <p class="card-item"><b>Tipo: </b>{{arquivo.tipoArquivo}}</p>
            </div>
            <div class="col s12 m4">
              <p class="card-item"><b>Nome: </b>{{arquivo.nomeArquivo}}</p>
            </div>
            <div [ngClass]="{'left-align': isMobile(), 'right-align': !isMobile()}" class="col s12 m4">
              <p class="card-item"><b>Criado: </b>{{arquivo.dtModificacao | date: 'dd/MM/yyyy'}}</p>
            </div>
          </div>
        </div>

        <div class="card-action">
          <div class="right-align">
            <button (click)="download(arquivo.nomeArquivo)" class="btn btn-flat btn-small btn-acao"
                    title="Baixar Arquivo">
              <i class="material-icons">file_download</i>
            </button>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="fimInfiniteScroll" class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <p class="center">Não há mais registros</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
