<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="button-collapse" data-activates="slide-out" materialize="sideNav">
        <i class="material-icons">menu</i>
      </a>
      <a (click)="voltarPagina()" class="brand-logo left">
        <i class="material-icons hide-on-med-and-down">arrow_back</i>
        <span class="navbar-title">{{titulo.getTitle() | translate}}</span>
      </a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="clienteForm && !clienteForm.disabled">
          <a (click)="submitCliente()"><i class="material-icons">done</i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<main>
  <div class="row">
    <div class="col s12">
      <ul class="tabs" id="tabs" materialize="tabs">
        <li class="tab col s3"><a class="tab-item active" href="#infos">Informações</a></li>
        <li class="tab col s3"><a class="tab-item" href="#contatos">Contatos</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <app-loading *ngIf="isLoading"></app-loading>

    <div class="col s12" id="infos">
      <form (ngSubmit)="submitCliente()" *ngIf="!isLoading" [formGroup]="clienteForm" id="clienteFrom">

        <div class="card">
          <div class="card-content">
            <h5>
              <small>Cadastro</small>
            </h5>

            <div class="row">
              <div class="col s12 m4">
                <div class="input-field">
                  <input formControlName="numeroClienteJForce" id="codigo" name="numeroClienteJForce"
                         placeholder="Código">
                </div>
              </div>
              <div class="col s12 m4">
                <div class="input-field">
                  <input [ngClass]="{invalid: clienteForm.get('nome').touched && clienteForm.get('nome').invalid}"
                         formControlName="nome" id="nome" name="nome"
                         type="text">
                  <label for="nome">Nome Completo</label>
                  <span [hidden]="!clienteForm.get('nome').touched || clienteForm.get('nome').valid"
                        class="helper-text red-text" data-error="wrong"
                        data-success="right">
                    <small>Campo obrigatório</small>
                  </span>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="input-field">
                  <input
                    [ngClass]="{invalid: clienteForm.get('campoSelecao').touched && clienteForm.get('campoSelecao').invalid}"
                    formControlName="campoSelecao" id="campoSelecao" name="campoSelecao"
                    type="text">
                  <label for="campoSelecao">Nome Fantasia</label>
                  <span [hidden]="!clienteForm.get('campoSelecao').touched || clienteForm.get('campoSelecao').valid"
                        class="helper-text red-text" data-error="wrong"
                        data-success="right">
                    <small>Campo obrigatório</small>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <div class="input-field">
                  <input (input)="getMascara($event.target['value'])"
                         [ngClass]="{invalid: clienteForm.get('cnpj').touched && clienteForm.get('cnpj').invalid}"
                         formControlName="cnpj"
                         id="cnpjs_cpf" mask="{{cnpjCpfMask | async}}" name="cnpj" type="text">
                  <label for="cnpjs_cpf">CNPJ/CPF</label>
                  <span [hidden]="!clienteForm.get('cnpj').touched || clienteForm.get('cnpj').valid"
                        class="helper-text red-text" data-error="wrong"
                        data-success="right">
                    <small>Campo obrigatório</small>
                  </span>
                </div>
              </div>
              <div class="col s6">
                <div class="input-field">
                  <input
                    [ngClass]="{invalid: clienteForm.get('inscricaoEstadual').touched && clienteForm.get('inscricaoEstadual').invalid}"
                    class="input-field" formControlName="inscricaoEstadual" id="inscricaoEstadual"
                    type="text">
                  <label for="inscricaoEstadual">Inscrição Estadual</label>
                  <span
                    [hidden]="!clienteForm.get('inscricaoEstadual').touched || clienteForm.get('inscricaoEstadual').valid"
                    class="helper-text red-text" data-error="wrong"
                    data-success="right">
                    <small>Campo obrigatório</small>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <div class="input-field">
                  <input
                    [ngClass]="{invalid: clienteForm.get('telefone').touched && clienteForm.get('telefone').invalid}"
                    formControlName="telefone" id="telefone" mask="(00) 0000-0000" name="telefone"
                    type="text">
                  <label for="telefone">Telefone</label>
                  <span [hidden]="!clienteForm.get('telefone').touched || clienteForm.get('telefone').valid"
                        class="helper-text red-text" data-error="wrong"
                        data-success="right">
                    <small>Campo obrigatório</small>
                  </span>
                </div>
              </div>
              <div class="col s6">
                <div class="input-field">
                  <input [ngClass]="{invalid: clienteForm.get('celular').touched && clienteForm.get('celular').invalid}"
                         formControlName="celular" id="celular" mask="(00) 00000-0000" name="celular"
                         type="text">
                  <label for="celular">Celular</label>
                  <span [hidden]="!clienteForm.get('celular').touched || clienteForm.get('celular').valid"
                        class="helper-text red-text" data-error="wrong"
                        data-success="right">
                    <small>Campo obrigatório</small>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <div class="input-field">
                  <input formControlName="observacao" id="observacao" name="observacao" type="text">
                  <label for="observacao">Observação</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <div class="input-field">
                  <select [materializeSelectOptions]="classificacaoCliente" formControlName="idClassificacaoCliente"
                          id="idClassificacaoCliente" materialize="material_select">
                    <option disabled selected value="">Clissificação do Cliente</option>
                    <option *ngFor="let classificaco of classificacaoCliente"
                            value="{{classificaco.id}}">{{classificaco.descricao}}</option>
                  </select>
                  <span
                    [hidden]="!clienteForm.get('idClassificacaoCliente').touched || clienteForm.get('idClassificacaoCliente').valid"
                    class="helper-text red-text" data-error="wrong"
                    data-success="right">
                    <small>Campo obrigatório</small>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <h5>
              <small>Endereço</small>
            </h5>
            <div class="row">
              <div class="col s12 m3">
                <div class="input-field">
                  <input (input)="getEndereco($event.target['value'])"
                         [ngClass]="{invalid: clienteForm.get('cep').touched && clienteForm.get('cep').invalid}"
                         formControlName="cep" id="cep"
                         mask="00000-000" name="cep"
                         type="text">
                  <label for="cep">CEP</label>
                  <span [hidden]="!clienteForm.get('cep').touched || clienteForm.get('cep').valid"
                        class="helper-text red-text" data-error="wrong"
                        data-success="right">
                    <small>Campo obrigatório</small>
                  </span>
                </div>
              </div>

              <div class="col s12 m6">
                <div class="input-field">
                  <input
                    [ngClass]="{invalid: clienteForm.get('rua').touched && clienteForm.get('rua').invalid}"
                    formControlName="rua" id="rua" name="rua"
                    placeholder="Digite o CEP primeiro"
                    type="text">
                  <label for="rua">Endereço</label>
                  <span [hidden]="!clienteForm.get('rua').touched || clienteForm.get('rua').valid"
                        class="helper-text red-text" data-error="wrong"
                        data-success="right">
                    <small>Campo obrigatório</small>
                  </span>
                </div>
              </div>

              <div class="col s12 m3">
                <div class="input-field">
                  <input [ngClass]="{invalid: clienteForm.get('nro').touched && clienteForm.get('nro').invalid}"
                         formControlName="nro" id="nro" name="nro"
                         type="text">
                  <label for="nro">Número</label>
                  <span [hidden]="!clienteForm.get('nro').touched || clienteForm.get('nro').valid"
                        class="helper-text red-text" data-error="wrong"
                        data-success="right">
                    <small>Campo obrigatório</small>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m4">
                <select (change)="getCidades($event.target['value'])"
                        [ngClass]="{invalid: clienteForm.get('estado').touched && clienteForm.get('estado').invalid}"
                        formControlName="estado" materialize="material_select">
                  <option disabled selected value="">Selecione um Estado</option>
                  <option *ngFor="let estado of estados | ordenar:'descricao'"
                          value="{{estado.descricao}}">{{estado.descricao}}</option>
                </select>
                <span [hidden]="!clienteForm.get('estado').touched || clienteForm.get('estado').valid"
                      class="helper-text red-text" data-error="wrong"
                      data-success="right">
                  <small>Campo obrigatório</small>
                </span>
              </div>
              <div class="input-field col s12 m4">
                <select (change)="getBairros($event.target['value'])"
                        [ngClass]="{invalid: clienteForm.get('cidade').touched && clienteForm.get('cidade').invalid}"
                        formControlName="cidade" materialize="material_select">
                  <option disabled selected value="">Selecione uma Cidade</option>
                  <option *ngFor="let cidade of cidades | ordenar:'descricao'"
                          value="{{cidade.id}}">{{cidade.descricao}}</option>
                </select>
                <span [hidden]="!clienteForm.get('cidade').touched || clienteForm.get('cidade').valid"
                      class="helper-text red-text" data-error="wrong"
                      data-success="right">
                  <small>Campo obrigatório</small>
                </span>
              </div>
              <div class="input-field col s12 m4">
                <select [ngClass]="{invalid: clienteForm.get('bairro').touched && clienteForm.get('bairro').invalid}"
                        formControlName="bairro"
                        materialize="material_select">
                  <option disabled selected value="">Selecione um Bairro</option>
                  <option *ngFor="let bairro of bairros | ordenar:'descricao'"
                          value="{{bairro.descricao}}">{{bairro.descricao}}</option>
                </select>
                <span [hidden]="!clienteForm.get('bairro').touched || clienteForm.get('bairro').valid"
                      class="helper-text red-text" data-error="wrong"
                      data-success="right">
                  <small>Campo obrigatório</small>
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <div class="input-field">
                  <input formControlName="domicilioFiscal" id="domicilioFiscal" name="domicilioFiscal"
                         placeholder="Digite o CEP primeiro"
                         type="text">
                  <label for="domicilioFiscal">Dimicílio Fiscal</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <h5>
              <small>Endereço Eletrônico</small>
            </h5>

            <div class="row">
              <div class="col s6">
                <div class="input-field">
                  <input
                    [ngClass]="{invalid: clienteForm.get('emailNFE').touched && clienteForm.get('emailNFE').invalid}"
                    formControlName="emailNFE" id="emailNFE" name="emailNFE"
                    type="email">
                  <label for="emailNFE">E-mail Nota fiscal</label>
                  <span [hidden]="!clienteForm.get('emailNFE').touched || clienteForm.get('emailNFE').valid"
                        class="helper-text red-text" data-error="wrong"
                        data-success="right">
                    <small>Campo obrigatório</small>
                  </span>
                </div>
              </div>

              <div class="col s6">
                <div class="input-field">
                  <input [ngClass]="{invalid: clienteForm.get('email').touched && clienteForm.get('email').invalid}"
                         formControlName="email" id="email" name="email"
                         type="email">
                  <label for="email">E-mail Comercial</label>
                  <span [hidden]="!clienteForm.get('email').touched || clienteForm.get('email').valid"
                        class="helper-text red-text" data-error="wrong"
                        data-success="right">
                    <small>Campo obrigatório</small>
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>

    <div class="col s12" id="contatos">
      <div *ngIf="!isLoading">
        <div *ngIf="contatos.length > 0">
          <div *ngFor="let contato of contatos" class="card">
            <div class="card-content">
              <p *ngIf="contato.nome">
                <b>Nome: </b>{{contato.nome}}
              </p>
              <p *ngIf="contato.sobrenome">
                <b>Sobrenome: </b>{{contato.sobrenome}}
              </p>
              <p *ngIf="contato.telefone">
                <b>Telefone: </b>{{contato.telefone | mask: '(00) 0000-0000'}}
              </p>
              <p *ngIf="contato.celular">
                <b>Celular: </b>{{contato.celular | mask: '(00) 00000-0000'}}
              </p>
              <p *ngIf="contato.email">
                <b>E-mail: </b>{{contato.email}}
              </p>
            </div>
            <div [hidden]="!novoCadastro" class="card-action">
              <div class="right-align">
                <button (click)="openModal(contato)" class="btn btn-flat btn-small btn-acao" title="Editar Contato">
                  <i class="material-icons">edit</i>
                </button>
                <button (click)="deleteContato(contato)" class="btn btn-flat btn-small btn-acao" title="Apagar Contato">
                  <i class="material-icons">delete</i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="contatos.length === 0" class="card">
          <div class="card-content center">
            <p>Não há registros a serem exibidos.</p>
          </div>
        </div>

        <div [materializeActions]="modalActions" class="modal" id="modal" materialize="modal">
          <div class="modal-content">
            <h5>Contato</h5>
            <form (ngSubmit)="submitContato()" [formGroup]="contatoForm">
              <div class="row">
                <div class="col s6">
                  <div class="input-field">
                    <input formControlName="nome" id="nomeContato" name="nome" type="text">
                    <label for="nomeContato">Nome</label>
                    <span [hidden]="!contatoForm.get('nome').touched || contatoForm.get('nome').valid"
                          class="helper-text red-text" data-error="wrong"
                          data-success="right">
                          <small>Campo obrigatório</small>
                        </span>
                  </div>
                </div>
                <div class="col s6">
                  <div class="input-field">
                    <input formControlName="sobrenome" id="sobrenomeContato" name="sobrenome" type="text">
                    <label for="sobrenomeContato">Sobrenome</label>
                    <span [hidden]="!contatoForm.get('sobrenome').touched || contatoForm.get('sobrenome').valid"
                          class="helper-text red-text" data-error="wrong"
                          data-success="right">
                          <small>Campo obrigatório</small>
                        </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s4">
                  <div class="input-field">
                    <input formControlName="telefone" id="telefoneContato" mask="(00) 0000-0000" name="telefone"
                           type="text">
                    <label for="telefoneContato">Telefone</label>
                    <span [hidden]="!contatoForm.get('telefone').touched || contatoForm.get('telefone').valid"
                          class="helper-text red-text" data-error="wrong"
                          data-success="right">
                          <small>Campo obrigatório</small>
                        </span>
                  </div>
                </div>
                <div class="col s4">
                  <div class="input-field">
                    <input formControlName="celular" id="celularContato" mask="(00) 00000-0000" name="celular"
                           type="text">
                    <label for="celularContato">Celular</label>
                    <span [hidden]="!contatoForm.get('celular').touched || contatoForm.get('celular').valid"
                          class="helper-text red-text" data-error="wrong"
                          data-success="right">
                          <small>Campo obrigatório</small>
                        </span>
                  </div>
                </div>
                <div class="col s4">
                  <div class="input-field">
                    <input formControlName="email" id="emailContato" name="email" type="email">
                    <label for="emailContato">E-mail</label>
                    <span [hidden]="!contatoForm.get('email').touched || contatoForm.get('email').valid"
                          class="helper-text red-text" data-error="wrong"
                          data-success="right">
                          <small>Campo obrigatório</small>
                        </span>
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
                <button [disabled]="!contatoForm.valid" class="modal-close waves-effect waves-green btn-flat"
                        type="submit">Salvar
                </button>
              </div>
            </form>
          </div>
        </div>

        <div [hidden]="!novoCadastro" class="fixed-action-btn">
          <a (click)="openModal()" class="btn btn-large btn-fab-acao waves-effect white black-text">
            <i class="material-icons">add</i>
            <span>Contato</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
