.status-item {
  z-index: 888;
  width: 137px;
  left: -72px;
  position: absolute;
  border-radius: 0 !important;
  transform: rotate(270deg) translateX(-42%);
}

.dropdown-custom {
  width: 250px !important;
}

.home-color {
  background-color: #607d8b !important;
}

.informar-valor {
  padding: 1px 6px 1px 6px;
  border-radius: 2px;
}

.barra-total {
  bottom: 0;
  position: fixed;
  padding-left: 310px;
  z-index: 1000;
}

.card-stacked {
  padding: 10px 0 10px 0;
}

@media only screen and (max-width: 992px) {
  .barra-total {
    padding-left: 10px;
  }
}
