<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="button-collapse" data-activates="slide-out" materialize="sideNav">
        <i class="material-icons">menu</i>
      </a>
      <a class="brand-logo left">
        <span class="navbar-title">
          {{titulo.getTitle() | translate}} <span *ngIf="!isLoading">({{auxListaPlanejamentos.length}})</span>
        </span>
      </a>

      <ul class="right">
        <li [hidden]="!pesquisar" class="navbar-pesquisa">
          <input #pesquisarInput (input)="fazerPesquisa($event.target['value'])" placeholder="Pesquise aqui..."
                 type="text">
        </li>
        <li>
          <a (click)="abrirPesquisa()"><i class="material-icons">search</i></a>
        </li>
        <li *ngIf="!isLoading">
          <a [materializeParams]="[{edge:'right'}]" data-activates="filtro-slide-out" data-target="filtro-slide-out"
             materialize="sideNav">
            <i class="material-icons">filter_list</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<ul *ngIf="!isLoading" class="side-nav side-filtro" id="filtro-slide-out">
  <li>
    <h5>Filtros</h5>
  </li>
  <li>
    <div class="input-field col s12">
      <select (ngModelChange)="selecionarMaterial($event)" [(ngModel)]="materiais"
        [materializeSelectOptions]="filtros.materiais" materialize="material_select" multiple>
        <option disabled selected value="">Selecione um Material</option>
        <option *ngFor="let material of filtros.materiais" [value]="material.id">{{material.descricao}}</option>
      </select>
    </div>
    <div class="input-field col s12">
      <select (ngModelChange)="selecionarCliente($event)" [(ngModel)]="clientes"
        [materializeSelectOptions]="filtros.clientes" materialize="material_select" multiple>
        <option disabled selected value="">Selecione um Cliente</option>
        <option *ngFor="let cliente of filtros.clientes" [value]="cliente.id">{{cliente.nome}}</option>
      </select>
    </div>
    <div class="input-field col s12">
      <select [materializeSelectOptions]="empresas" materialize="material_select">
        <option disabled selected value="">Selecione uma Empresa</option>
        <option *ngFor="let empresa of filtros.empresas | ordenar : 'razaoSocial' " [value]="empresa.idEmpresa">
          {{empresa.razaoSocial}}</option>
      </select>
    </div>
    <div class="input-field col s12">
      <select (ngModelChange)="selecionarEstado($event)" [(ngModel)]="estados"
        [materializeSelectOptions]="filtros.estados" materialize="material_select" multiple>
        <option disabled selected value="">Selecione um Estado</option>
        <option *ngFor="let estado of filtros.estados | ordenar : 'descricao' " [value]="estado.id">{{estado.descricao}}
        </option>
      </select>
    </div>
    <div class="input-field col s12">
      <select (ngModelChange)="selecionarRegional($event)" [(ngModel)]="regionais"
        [materializeSelectOptions]="filtros.regionais" materialize="material_select" multiple>
        <option disabled selected value="">Selecione uma Regional</option>
        <option *ngFor="let regional of filtros.regionais | ordenar : 'descricao' " [value]="regional.id">
          {{regional.descricao}}</option>
      </select>
    </div>
  </li>
  <li><br></li>
  <li>
    <h5>Ordenar</h5>
  </li>
  <li>
    <div class="input-field col s12">
      <select [(ngModel)]="ordenarPorSelect" [materializeSelectOptions]="filtros.ordenar" materialize="material_select">
        <option disabled selected value="">Ordenar por</option>
        <option *ngFor="let ordenar of filtros.ordenar" [value]="ordenar.campo">{{ordenar.titulo}}</option>
      </select>
    </div>
  </li>
  <li><br></li>
  <li>
    <div class="row">
      <div class="col s6">
        <a (click)="limparFiltro()" class="btn btn-flat waves-effect">Limpar</a>
      </div>
      <div class="col s6">
        <a (click)="filtrar()" class="btn waves-effect">Filtrar</a>
      </div>
    </div>
  </li>
</ul>

<main>
  <div class="row">
    <div class="col s12">
      <ul class="tabs" id="tabs" materialize="tabs">
        <li (click)="onClickDia()" class="tab col s3"><a class="tab-item active">Dia</a></li>
        <li (click)="onClickSemana()" class="tab col s3"><a class="tab-item">Semana</a></li>
        <li (click)="onClickMes()" class="tab col s3"><a class="tab-item">Mês</a></li>
      </ul>
    </div>
  </div>

  <div *ngIf="isLoading" class="col s12 center-align">
    <app-loading></app-loading>
    {{mensagemBusca}}
  </div>

  <div *ngIf="!isLoading">
    <div (scrolled)="infiniteScroll()" [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" class="row"
         infiniteScroll>
      <div *ngFor="let plan of planejamentos ; let i = index" class="col s12">
        <div class="card">
          <span [attr.data-badge-caption]="plan.statusPlan" [ngClass]="funcTesteClass(plan)"
                class="badge new status-item black-text"></span>
          <div class="card-content" style="padding-left: 25px">
            <div class="row">
              <div class="col s3 m1 hide-on-med-and-down">
                <img alt="Empresa" class="circle" height="auto"
                     src="https://jforceapp-dev.azurewebsites.net/assets/img/favicon.ico" width="100%">
              </div>
              <div class="col s12 m11">
                <div class="row">
                  <div class="col s12 m12">
                    <span class="card-title">
                      {{plan.idCliente}} <b>{{plan.razaoSocial}}</b>
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col s4 m4">
                    <p class="card-item">
                      <strong>Data: </strong> <span>{{plan.dtReferencia | date:'dd/MM/yyyy'}}</span>
                    </p>
                  </div>
                  <div class="col s4 m4">
                    <p class="card-item">
                      <strong>Horário: </strong> <span>{{plan.horario | date:'HH:mm'}}</span>
                    </p>
                  </div>
                  <div class="col s4 m4">
                    <p class="card-item">
                      <strong>Recorrência: </strong> <span>{{retornaRecorrencia(plan.recorrencia)}}</span>
                    </p>
                  </div>
                </div>
                <div class="row" style="min-height: 26px">
                  <div class="col s4 m4">
                    <p class="card-item">
                      <strong>Valor Planejado: </strong>
                      <span *ngIf="plan.valorPlanejado">{{plan.valorPlanejado | currency:'BRL'}}</span>
                      <!-- <a class="waves-effect waves-light btn-small">Button</a> -->
                      <a (click)="openModalPlanejamentoVenda(plan)" *ngIf="!plan.valorPlanejado"
                         class="waves-effect waves-light btn btn-small red lighten-1">Informar Valor</a>
                      <!-- <span *ngIf="!plan.valorPlanejado" class="red lighten-1 informar-valor">Informar Valor</span> -->
                    </p>
                  </div>
                  <div class="col s4 m4">
                    <p class="card-item">
                      <strong>Valor Realizado: </strong> <span>{{plan.valorRealizado | currency:'BRL'}}</span>
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="card-action" style="padding-left: 25px">
            <div class="hide-on-med-and-up right-align">
              <a [attr.data-activates]="'dropdown-' + i" [attr.data-target]="'dropdown-' + i"
                 class="dropdown-trigger btn btn-flat btn-small btn-acao" materialize="dropdown">
                <i class="material-icons">more_vert</i>
              </a>
              <ul class='dropdown-custom dropdown-content' id='dropdown-{{i}}'>
                <li>
                  <button (click)="abrirGoogleMaps(plan.endereco)" class="btn btn-flat btn-small btn-acao">
                    <i class="material-icons left">pin_drop</i>
                    Localização
                  </button>
                </li>
                <li>
                  <button (click)="abrirOrdensCliente(plan.idCliente)" class="btn btn-flat btn-small btn-acao">
                    <i class="material-icons left">assignment</i>
                    Ordens de Compra
                  </button>
                </li>
                <li>
                  <button (click)="abrirTitulosCliente(plan.idCliente)" class="btn btn-flat btn-small btn-acao">
                    <i class="material-icons left">book</i>
                    Títulos
                  </button>
                </li>
                <li>
                  <button (click)="abrirCliente(plan.idCliente)" class="btn btn-flat btn-small btn-acao">
                    <i class="material-icons left">account_circle</i>
                    Perfil do Cliente
                  </button>
                </li>
                <li>
                  <button class="btn btn-flat btn-small btn-acao">
                    <i class="material-icons left">shopping_cart</i>
                    Gerar Ordem
                  </button>
                </li>
                <li>
                  <button (click)="excluirPlanejamento(plan)" class="btn btn-flat btn-small btn-acao">
                    <i class="material-icons left">delete</i>
                    Deletar
                  </button>
                </li>
              </ul>
            </div>

            <div class="hide-on-small-and-down">
              <button (click)="abrirGoogleMaps(plan.endereco)" class="btn btn-flat btn-small btn-acao"
                      title="Ver localização no Google Maps">
                <i class="material-icons">pin_drop</i>
              </button>
              <button (click)="abrirOrdensCliente(plan.idCliente)" class="btn btn-flat btn-small btn-acao"
                      title="Abrir Ordens">
                <i class="material-icons">assignment</i>
              </button>
              <button (click)="abrirTitulosCliente(plan.idCliente)" class="btn btn-flat btn-small btn-acao"
                      title="Abrir Títulos">
                <i class="material-icons">book</i>
              </button>
              <button (click)="abrirCliente(plan)" class="btn btn-flat btn-small btn-acao" title="Perfil">
                <i class="material-icons">account_circle</i>
              </button>
              <button (click)="criarOrdemCliente(plan)" class="btn btn-flat btn-small btn-acao" title="Gerar Ordem">
                <i class="material-icons">shopping_cart</i>
              </button>
              <button (click)="excluirPlanejamento(plan)" class="btn btn-flat btn-small btn-acao" title="Excluir">
                <i class="material-icons">delete</i>
              </button>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div *ngIf="fimInfiniteScroll" class="card">
            <div class="card-content">
              <p class="center">Não há mais registros</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div [materializeActions]="modalPlanejamentoVenda" class="modal" id="modalPlanejamentoVenda" materialize="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s12 m12">
          <h5 style="margin-bottom: 20px">Planeje o Valor de Venda</h5>
        </div>
        <div class="col s12 m12">
          <div class="input-field">
            <input [(ngModel)]="valorPlanejado" id="inputValorPlan" name="inputValorPlan" type="text">
            <label for="inputValorPlan">Valor de Venda (R$)</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="modal-close waves-effect waves-green btn-flat">CANCELAR</button>
      <button (click)="planejarValor(valorPlanejado)" class="modal-close waves-effect waves-green btn-flat">OK</button>
    </div>
  </div>
</main>

<div *ngIf="!isLoading" class="row">
  <div class="col s12 m12 barra-total">
    <div class="card horizontal z-depth-5">
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <div class="col s3">
              <strong>Valor Planejado: </strong>
              {{barraTotal.valorPlanejado | currency:'BRL'}}
            </div>
            <div class="col s3">
              <strong>Valor Realizado: </strong>
              {{barraTotal.valorRealizado | currency:'BRL'}}
            </div>
            <div class="col s3">
              <strong>Cotações: </strong>
              {{barraTotal.cotacoes | currency:'BRL'}}
            </div>
            <div class="col s3">
              <strong>Percentual %: </strong>
              {{barraTotal.percentual}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
