<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="button-collapse" data-activates="slide-out" materialize="sideNav">
        <i class="material-icons">menu</i>
      </a>
      <a class="brand-logo left">
        <span class="navbar-title">{{titulo.getTitle() | translate}}</span>
      </a>

      <ul class="right">
        <li *ngIf="!isLoading">
          <a [materializeParams]="[{edge:'right'}]" data-activates="filtro-slide-out" data-target="filtro-slide-out"
             materialize="sideNav">
            <i class="material-icons">filter_list</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<ul *ngIf="!isLoading" class="side-nav side-filtro" id="filtro-slide-out">
  <li>
    <h5>Filtros</h5>
  </li>
  <li>
    <div class="input-field col s12">
      <select (ngModelChange)="selecionarMaterial($event)" [(ngModel)]="materiais"
              [materializeSelectOptions]="filtros.materiais" materialize="material_select"
              multiple>
        <option disabled selected value="">Selecione um Material</option>
        <option *ngFor="let material of filtros.materiais" [value]="material.id">{{material.descricao}}</option>
      </select>
    </div>
    <div class="input-field col s12">
      <select (ngModelChange)="selecionarCliente($event)" [(ngModel)]="clientes"
              [materializeSelectOptions]="filtros.clientes" materialize="material_select"
              multiple>
        <option disabled selected value="">Selecione um Cliente</option>
        <option *ngFor="let cliente of filtros.clientes" [value]="cliente.nome">{{cliente.nome}}</option>
      </select>
    </div>
    <div class="input-field col s12">
      <select [materializeSelectOptions]="empresas" materialize="material_select">
        <option disabled selected value="">Selecione uma Empresa</option>
        <option *ngFor="let empresa of filtros.empresas | ordenar : 'razaoSocial' "
                [value]="empresa.idEmpresa">{{empresa.razaoSocial}}</option>
      </select>
    </div>
    <div class="input-field col s12">
      <select (ngModelChange)="selecionarEstado($event)" [(ngModel)]="estados"
              [materializeSelectOptions]="filtros.estados" materialize="material_select" multiple>
        <option disabled selected value="">Selecione um Estado</option>
        <option *ngFor="let estado of filtros.estados | ordenar : 'descricao' "
                [value]="estado.id">{{estado.descricao}}</option>
      </select>
    </div>
    <div class="input-field col s12">
      <select (ngModelChange)="selecionarRegional($event)" [(ngModel)]="regionais"
              [materializeSelectOptions]="filtros.regionais" materialize="material_select" multiple>
        <option disabled selected value="">Selecione uma Regional</option>
        <option *ngFor="let regional of filtros.regionais | ordenar : 'descricao' "
                [value]="regional.id">{{regional.descricao}}</option>
      </select>
    </div>
  </li>
  <li><br></li>
  <li>
    <div class="row">
      <div class="col s6">
        <a (click)="limparFiltro()" class="btn btn-flat waves-effect">Limpar</a>
      </div>
      <div class="col s6">
        <a (click)="filtrar()" class="btn waves-effect">Filtrar</a>
      </div>
    </div>
  </li>
</ul>

<main>
  <app-loading *ngIf="isLoading"></app-loading>
  <div (scrolled)="infiniteScroll()" *ngIf="!isLoading" [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
       class="row"
       infiniteScroll>
    <div *ngFor="let meta of metas" class="col s12 status-responsivo">
      <div class="card meta">
        <div class="row">
          <div class="col s1 status">
            <p [ngClass]="{'lighten-1': verificarRealizado(meta.qtdeRealizada)}"
               class="status green lighten-5">{{meta.qtdeRealizada}}%</p>
          </div>
          <div class="col s11">
            <div class="card-content">
              <div class="row">
                <div class="col s12">
              <span class="card-title">
                <b>{{meta.descricao | uppercase}}</b>
              </span>
                </div>
                <div class="col s12 m4">
                  <p class="card-item">
                    <strong>Empresa: </strong>{{meta.idEmpresa}}
                  </p>
                </div>
                <div class="col s12 m4">
                  <p class="card-item">
                    <strong>Regional: </strong>{{meta.idRegional}}
                  </p>
                </div>
                <div class="col s12 m4">
                  <p class="card-item">
                    <strong>Estado: </strong>{{meta.idEstado}}
                  </p>
                </div>
                <div class="col s12 m4">
                  <p class="card-item">
                    <strong>Valor Planejado: </strong>{{meta.valorPlanejado | currency:'BRL':'symbol-narrow'}}
                  </p>
                </div>
                <div class="col s12 m8">
                  <p class="card-item">
                    <strong>Valor Realizado: </strong>{{meta.valorRealizado | currency:'BRL':'symbol-narrow'}}
                  </p>
                </div>
                <div class="col s12 m4">
                  <p class="card-item">
                    <strong>Data Inicial: </strong>{{meta.dtValidadeInicial | date:'dd/MM/yyyy'}}
                  </p>
                </div>
                <div class="col s12 m4">
                  <p class="card-item">
                    <strong>Data Final: </strong>{{meta.dtValidadeFinal | date:'dd/MM/yyyy'}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="fimInfiniteScroll" class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <p class="center">Não há mais registros</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
