<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="button-collapse" data-activates="slide-out" materialize="sideNav">
        <i class="material-icons">menu</i>
      </a>
      <a (click)="voltarPagina()" class="brand-logo left">
        <i class="material-icons hide-on-med-and-down">arrow_back</i>
        <span class="navbar-title">{{titulo.getTitle() | translate}}</span>
      </a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="planejamentoForm && !planejamentoForm.disabled">
          <a (click)="submitPlanejamento()"><i class="material-icons">done</i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<main>
  <div class="row">

    <div *ngIf="isLoading" class="col s12 center-align">
      <app-loading></app-loading>
      {{mensagemBusca}}
    </div>

    <div class="col s12">
      <form (ngSubmit)="submitPlanejamento()" *ngIf="!isLoading" [formGroup]="planejamentoForm" id="clienteFrom">

        <div class="card">
          <div class="card-content">
            <h5>
              <small>Cadastro de Planejamento de Visita</small>
            </h5>

            <div class="row">
              <div
                [ngClass]="{selectInvalido: planejamentoForm.get('idCliente').touched && planejamentoForm.get('idCliente').invalid}"
                class="input-field col s12 m12">
                <select formControlName="idCliente" materialize="material_select">
                  <option disabled selected value="">Selecione um Cliente</option>
                  <option *ngFor="let cliente of selectClientes" value="{{cliente.id}}">{{cliente.idCliente}} -
                    {{cliente.razaoSocial}}
                  </option>
                </select>
                <span [hidden]="!planejamentoForm.get('idCliente').touched || planejamentoForm.get('idCliente').valid"
                      class="helper-text red-text" data-error="wrong" data-success="right">
                  <small>Campo obrigatório</small>
                </span>
              </div>
            </div>

            <div class="row">

              <div class="col s12 m6">
                <div class="input-field">
                  <i (click)="abrirDatePicker('dtCad')"
                     [ngClass]="{selectInvalido: planejamentoForm.get('dtCadastro').touched && planejamentoForm.get('dtCadastro').invalid}"
                     class="material-icons prefix"
                     style="top: 15px">today</i>
                  <input [materializeActions]="dtCad" [materializeParams]="[{format: 'dd/mm/yyyy'}]" class="icon_prefix"
                         formControlName="dtCadastro"
                         id="dtCadastro" materialize="pickadate" name="dtCadastro">
                  <label class="active" for="dtCadastro">Data</label>
                </div>
                <span [hidden]="!planejamentoForm.get('dtCadastro').touched || planejamentoForm.get('dtCadastro').valid"
                      class="helper-text red-text" data-error="wrong" data-success="right">
                  <small>Campo obrigatório</small>
                </span>
              </div>
              <div class="col s12 m6">
                <div class="input-field">
                  <i (click)="abrirTimePicker('hora')"
                     [ngClass]="{selectInvalido: planejamentoForm.get('horario').touched && planejamentoForm.get('horario').invalid}"
                     class="material-icons prefix"
                     style="top: 15px">access_time</i>
                  <input [materializeActions]="hora" [materializeParams]="[{twelvehour: false}]" class="icon_prefix"
                         formControlName="horario"
                         id="horario" materialize="pickatime" name="horario">
                  <label class="active" for="horario">Horário</label>
                </div>
                <span [hidden]="!planejamentoForm.get('horario').touched || planejamentoForm.get('horario').valid"
                      class="helper-text red-text" data-error="wrong" data-success="right">
                  <small>Campo obrigatório</small>
                </span>
              </div>
            </div>

            <div class="row">
              <div
                [ngClass]="{selectInvalido: planejamentoForm.get('recorrencia').touched && planejamentoForm.get('recorrencia').invalid}"
                class="input-field col s12 m6">
                <select formControlName="recorrencia" materialize="material_select">
                  <option disabled selected value="">Selecione a Recorrencia</option>
                  <option *ngFor="let rec of selectRecorrencias" value="{{rec.id}}">{{rec.label}}</option>
                </select>
                <span
                  [hidden]="!planejamentoForm.get('recorrencia').touched || planejamentoForm.get('recorrencia').valid"
                  class="helper-text red-text" data-error="wrong" data-success="right">
                  <small>Campo obrigatório</small>
                </span>
              </div>
              <div
                [ngClass]="{selectInvalido: planejamentoForm.get('diaSemana').touched && planejamentoForm.get('diaSemana').invalid}"
                class="input-field col s12 m6">
                <select formControlName="diaSemana" materialize="material_select">
                  <option disabled selected value="">Selecione o dia da semana</option>
                  <option *ngFor="let diaSem of selectDiaSemana" value="{{diaSem.diaSemana}}">{{diaSem.razaoSocial}}
                  </option>
                </select>
                <span [hidden]="!planejamentoForm.get('diaSemana').touched || planejamentoForm.get('diaSemana').valid"
                      class="helper-text red-text" data-error="wrong" data-success="right">
                  <small>Campo obrigatório</small>
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col s12 m6">
                <div class="input-field">
                  <i (click)="abrirDatePicker('dtFimPlan')"
                     [ngClass]="{selectInvalido: planejamentoForm.get('dtFimPlanejamento').touched && planejamentoForm.get('dtFimPlanejamento').invalid}"
                     class="material-icons prefix"
                     style="top: 15px">today</i>
                  <input [materializeActions]="dtFimPlan" [materializeParams]="[{format: 'dd/mm/yyyy'}]"
                         class="icon_prefix"
                         formControlName="dtFimPlanejamento" id="dtFimPlanejamento"
                         materialize="pickadate" name="dtFimPlanejamento">
                  <label class="active" for="dtFimPlanejamento">Data Final</label>
                </div>
                <span
                  [hidden]="!planejamentoForm.get('dtFimPlanejamento').touched || planejamentoForm.get('dtFimPlanejamento').valid"
                  class="helper-text red-text" data-error="wrong" data-success="right">
                  <small>Campo obrigatório</small>
                </span>
              </div>
              <div
                [ngClass]="{selectInvalido: planejamentoForm.get('idTipoVisita').touched && planejamentoForm.get('idTipoVisita').invalid}"
                class="input-field col s12 m6">
                <select formControlName="idTipoVisita" materialize="material_select">
                  <option disabled selected value="">Selecione o Tipo da Visita</option>
                  <option *ngFor="let tipo of selectTipoVisita" value="{{tipo.id}}">{{tipo.descricao}}
                  </option>
                </select>
                <span
                  [hidden]="!planejamentoForm.get('idTipoVisita').touched || planejamentoForm.get('idTipoVisita').valid"
                  class="helper-text red-text" data-error="wrong" data-success="right">
                  <small>Campo obrigatório</small>
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <div class="input-field">
                  <input formControlName="observacao" id="observacao" name="observacao" type="text">
                  <label for="observacao">Observação</label>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>

  </div>
</main>
