<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="button-collapse" data-activates="slide-out" materialize="sideNav">
        <i class="material-icons">menu</i>
      </a>
      <a (click)="voltarPagina()" class="brand-logo">
        <i class="material-icons hide-on-med-and-down">arrow_back</i>
        <span class="navbar-title">{{titulo.getTitle() | translate}}</span>
      </a>
    </div>
  </nav>
</div>

<main>
  <app-loading *ngIf="isLoading"></app-loading>
  <div *ngIf="!isLoading">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col m12">
                <span class="card-title" style="font-size: 1.8em">
                  <!-- <b>{{infoOrdem.idClienteJForce}} - {{infoOrdem.cliente}}</b> -->
                  <b>{{infoOrdem.cliente}}</b>
                </span>
              </div>
              <div class="col m4" style="font-size: 1.3em;">
                <b>JForce: </b>{{infoOrdem.numeroOrdemJForce}}
              </div>
              <div class="col m4" style="font-size: 1.3em;">
                <b>SAP: </b>{{infoOrdem.documentoVenda}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let detalhe of detalhes; index as i" class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col m2">
                <img alt="imgItem" class="materialboxed"
                     height="auto" materialize="materialbox"
                     src="https://jforceapp-dev.azurewebsites.net/desk-imgs/{{detalhe.idMaterial}}.png" width="100%">
              </div>
              <div class="col m10">
                <span class="card-title">
                  <b>{{detalhe.idMaterial}} - {{detalhe.textoBreveItem}}</b>
                </span>
                <br>
                <div class="row">
                  <p class="card-item col m4">
                    <strong>Quantidade: </strong> <span>{{detalhe.quantidadeVenda}}</span>
                  </p>
                  <p class="card-item col m4">
                    <strong>Desc. Item (%): </strong> <span>{{detalhe.descontoGeral}}</span>
                  </p>
                  <p class="card-item col m4">
                    <strong>Val Tot. Item: </strong> <span>{{detalhe.valorTotalVenda | currency:'BRL'}}</span>
                  </p>
                  <p class="card-item col m4">
                    <strong>Valor Venda: </strong> <span>{{detalhe.valorVenda | currency:'BRL'}}</span>
                  </p>
                  <p class="card-item col m4">
                    <strong>Desc. Prazo. (%): </strong> <span>{{detalhe.descontoPrazo}}</span>
                  </p>
                  <p class="card-item col m4">
                    <strong>Valor Venda: </strong> <span>{{detalhe.valorVenda | currency:'BRL'}} + ST.
                    {{detalhe.valorST | currency:'BRL'}} + IPI {{detalhe.valorIPI | currency:'BRL'}}</span>
                  </p>
                  <p class="card-item col m4 offset-m4">
                    <strong>Desc. Campanha (%): </strong> <span>{{detalhe.descontoCampanha}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col m12 right-align">
                <a (click)="openModal(detalhe.determinacaoCondicao)" class="btn btn-flat btn-acao disabled">
                  Condições SAP
                </a>
                <button (click)="openModal(detalhe.determinacaoCondicao)" class="btn btn-flat btn-acao" mat-button
                        matTooltip="Determinação de Condição">
                  <i class="material-icons">monetization_on</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div [materializeActions]="modalActions" class="modal modal-fixed-footer" id="modal" materialize="modal">
      <div class="modal-content">
        <h5 style="margin-bottom: 20px">Determinação de Condição</h5>
        <div *ngFor="let determinacaoCondicao of listaDterminacaoCondicao" class="row">
          <div class="col s12">
            <strong>Registro: </strong> <span>{{determinacaoCondicao.idProprio}}</span>
          </div>
          <div class="col s12">
            <strong>Tipo: </strong> <span>{{determinacaoCondicao.tipoCondicao}}</span>
          </div>
          <div class="col s12" style="margin-top: 10px">
            <strong>{{determinacaoCondicao.valorCondicao | currency:'BRL'}}</strong>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn-flat">Fechar</button>
      </div>
    </div>

  </div>
</main>
