@media only screen and (min-width: 993px) {
  .tabs {
    display: flex !important;
  }
  .barra-pedido {
    width: 75% !important;
  }
}

@media only screen and (max-width: 992px) {
  .barra-pedido {
    width: 100% !important;
  }
}

.barra-pedido {
  position: fixed;
  bottom: 0px;

  .input-field label {
    font-size: 11px;
  }

  .row .col {
    padding: 0 3px
  }
}

.card {
  margin: 0px;
  margin-bottom: 5px;

  .card-action {
    padding: 0px 15px 0px 15px;
  }
}

.selectInvalido {
  color: red;
}

#materialbox-overlay {
  opacity: 0.8 !important;
  position: absolute !important;
}
